# Next.js
.next
out
node_modules
.vercel

# Env / secrets
.env
.env.local
.env.development
.env.production
.env.test

# Logs & OS cruft
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
